<p style="color: green"><%= notice %></p>

<h1>Articles</h1>
<hr/>

<div id="articles">
  <% @articles.each do |article| %>
    <%= render article, no_content: true %>
    <p>
      <%= link_to "Show this article", article %>
    </p>
  <% end %>
</div>
