
<p> Loged in with: <%= current_user&.email%> </p>

<%# <%= link_to "Sign in with Pressingly", user_pressingly_omniauth_authorize_path, method: :post %> %>
<%# https://dev.to/rbazinet/hotwire-fix-for-cors-error-when-using-omniauth-3k36 %>
<%# <%= button_to "Sign in with Pressingly", user_pressingly_omniauth_authorize_path, data: {turbo: "false"} %> %>
<%= button_to "Sign in with Pressingly", user_openid_connect_omniauth_authorize_path, data: {turbo: "false"} %>
