
<p>
  Loged in with: <%= current_user&.email%>
  <%= button_to "sign out", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
</p>

<%# https://dev.to/rbazinet/hotwire-fix-for-cors-error-when-using-omniauth-3k36 %>
<%= button_to "Sign in with Pressingly", user_openid_connect_omniauth_authorize_path, data: {turbo: "false"} %>
