<!-- inline button style -->
<style>
  @import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

  *{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
  }

  button{
    padding: 10px 12px;
    background-color: #0076ff;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 5px;

    overflow: hidden;
    transition: 0.5s;
    cursor: pointer;
  }

  button:hover{
      background: #0076ff;
      color: #fff;
      box-shadow: 0 0 5px #03e9f4,
                  0 0 25px #03e9f4,
                  0 0 50px #03e9f4,
                  0 0 200px #03e9f4;
      -webkit-box-reflect:below 1px linear-gradient(transparent, #0005);
  }
</style>
<!-- act like top nav -->
<div>
  <div style="padding-bottom: 10px;
    padding-top: 10px;
    text-align: right;
    padding-right: 5px;">
    <span style="width: 50%" >
    <%if current_user%>
      <p> Logged in with: <%= current_user&.email%>
        <%= button_to "sign out", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
      </p>
    <% else %>
      <%= button_to "Sign in with Pressingly", user_openid_connect_omniauth_authorize_path, data: {turbo: "false", pressingly_one_tap: "true"} %>
    <% end %>
    <span>
  </div>
<div>
<%# https://dev.to/rbazinet/hotwire-fix-for-cors-error-when-using-omniauth-3k36 %>



<script>
function getCredentialsFromPressingly() {
  var xhr = new XMLHttpRequest();
  xhr.withCredentials = true;

  xhr.onreadystatechange = function() {
    if (xhr.readyState === 4 && xhr.status === 200) {
      var response = JSON.parse(xhr.responseText);
      // Process the response data here
      console.log(response)
      if(response.email !== null) {
        document.querySelector("[data-pressingly-one-tap]").innerText = "Sign in with " + response.email + " (Pressingly)";
      }
    }
  };

  xhr.open("GET", "https://pressingly-account.onrender.com/one-tap/info", true);
  xhr.send();
}

// Call the function to make the AJAX request
getCredentialsFromPressingly();
</script>