<h1>Editing credit token</h1>

<%= render "form", credit_token: @credit_token %>

<br>

<div>
  <%= link_to "Show this credit token", @credit_token %> |
  <%= link_to "Back to credit tokens", credit_tokens_path %>
</div>
