/* customizing css since background-color is being predefined by flowbite.min.css */
button[type="submit"] {
  background-color: #2661f2;
}

button.social-login-button {
  background-color: transparent;
}

button.social-login-button:hover {
  background-color: rgba(66, 133, 244, 0.04);
}