[data-tab-target][active] {
  color: #3d78f5;
  border-bottom-width: 2px;
  border-color: #3d78f5;
  border-top-left-radius: 0.25rem;
  border-top-right-radius: 0.25rem;
  padding: 1rem 2rem;
  display: inline-block;
  transition: all 0.3s ease-in-out;
}

[data-tab-target][active]:hover {
  color: #2661f2;
  border-color: #2661f2;
}