<div class="w-full mx-auto flex flex-col grow">
  <%= render "categories/hero", hero_title: @category_name, articles: @articles_by_category %>


  <%# I want to make container is full %>

  <div class="container mx-auto ">

    <div class="grid grid-cols-3 gap-4">
      <div class="col-span-2">
        <%= render "categories/group", articles: @articles_by_category %>

        <%= render "categories/pagination" %>
      </div>
    </div>
  </div>
</div>


